<header>
    <div class="container">
        <a href="/">
            <div class="logo">
            </div>
        </a>
        <nav class="primary links">
            <ul>
                <li>
                    <a href="/recipes">Receitas</a>
                </li>
                <li>
                    <a href="/chefs">Chefs</a>
                </li>
                <li>
                    <a href="/users/login">Login</a>
                </li>
            </ul>
        </nav>

        <form method="GET" action="/recipes/search">
            <div class="search">
                <input 
                    class="search"
                    type="text"
                    name="filter"
                    placeholder="Buscar uma receita"
                    value="{{filter}}"
                >
                <button class="button" type="submit">Buscar</button>
            </div>
        </form>
    </div>
</header>