{% macro recipes(name, classes, recipes, pagination, filter) %}

    <section class="container {{classes}}">

        {% if name %}
            <h1>{{name}}</h1>
        {% endif %}

        <div class="recipe-guest-cards">
                
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <div class="recipe-img">
                        <img src="{{recipe.img}}" alt="{{recipe.title}}">
                    </div>

                    <div class="card-content">
                        <p>{{recipe.title}}</p>
                        <p>por {{recipe.chef_name}}</p>
                        <a href="/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

    </section>

{% endmacro %}