:root {
    --primary-color: #6558C3;
    --secondary-color: #DC4747;
}

* {
    margin: 0;
    padding: 0;
    border: 0;

    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

/* BUTTONS */

.button {
    background-color: var(--primary-color);
    color: white;

    border-radius: 4px;
    padding: 9px 20px;
    cursor: pointer;
}

/* HEADER */

header, footer {    
    color: #111111;

    width: 100%;
    padding: 25px 0;
}

footer {
    background-color: #EEEEEE;
    margin-top: auto;
    text-align: center;
}

header div.container {
    display: grid;
    grid-template-columns: 90.6px auto auto;
    align-items: center;
    gap: 50px;
}

.logo {
    background: url(/assets/userlogo.png);
    height: 26.9px;
}

/* HEADER SEARCH */
.search {
    display: grid;
    grid-template-columns: 246px 91px;
    grid-gap: 8px;
    justify-content: end;
}

.search input {
    font-size: 16px;
    width: 100%;
    padding: 8px;

    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

/* PRIMARY MENU */
nav.primary ul {
    display: flex;
    margin-right: 25px;
}

nav.primary li {
    margin-right: 25px;
}

nav.primary li a {
    font-size: 16px;
    line-height: 26px;
    color: #111111;
}

nav.primary li a.active {
    font-weight: bold;
}

nav.primary li a:hover {
    font-weight: bold;    
    transition: 400ms;
}